/* Header CSS file for styling the profile picture, background, etc*/

.top-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #00627a;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  position: relative;

}

.name {
  display: flex;
  align-self: center;
  justify-self: column;
  color: white;
  padding-bottom: 25px;

}

h2.name {
  padding: 10px;
}

img.pro-pic {
  max-height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  
  border: 10px solid white;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='80%' height='80%'/></g></svg>") 10% stretch;
}



.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  padding-top: 25px;
}

