/* style sheet for the top nav bar */
nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  top: 0;

}

nav span {
  font-family: 'Bungee', cursive;
}



div.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.2em;
  font-size: 0.8em;
}

div.tweet-icon {
 
  color: red;
  margin-top: -10px;
}

