.tweet {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  border-radius: 15px;
}

article:hover {
  box-shadow: 5px 10px #888888;
}


.user-info {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 5px;
}

.user-name-pic {
  display: flex;

}

.user-handle {
  color: skyblue;
}

.time-like {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  
}

.tweet-message {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-radius: 2px;
  border-width: 5px;
  background-color: transparent;
}

.time-posted {
  color: black;
  font-size: 12px;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

}

i:hover {
  color: gold;
}

